<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}{% endblock %}</title>
        <!-- Latest compiled and minified CSS -->

        <link href="https://fonts.googleapis.com/css?family=Kavivanar" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <script src="/tinymce/js/tinymce/tinymce.min.js"></script>
        <script>tinymce.init({
                selector:'textarea',
                menubar: false,
                toolbar: ' bold italic underline forecolor'
            });</script>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>

    <body>

        <div class="container-fluid">


                {% include 'menu.html.twig' %}

            {% block slide %}
                {% include 'slide.html.twig' %}
            {% endblock %}




                {% block body %}{% endblock %}
                {% include 'footer.html.twig' %}
                {% block javascripts %}{% endblock %}

        </div>
    </body>

</html>
