{% extends "base.html.twig" %}

{% block title %}{{ seotitle }}{% endblock %}
 {% block body %}

<div class="container">
<div class="row">
    <div class="col">

        <h1>{{ title }}</h1>

    </div>
</div>
</div>

     <div class="row">
         <div class="col">{{ content }}</div>
     </div>



 {% endblock %}