{% extends "base.html.twig" %}

{% block title %}Création d'un compte à JDRS{% endblock %}


{% block body %}



    <div class="row justify-content-center cadre">

<div class="">

    <h1>création d'un compte</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
</div>

    </div>
{% endblock %}