{% extends "base.html.twig" %}

{% block title %}Création d'un compte à JDRS{% endblock %}


{% block body %}
<h1>création d'un compte</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}